/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*自定義*/
.wrap{
    font-family:"Roboto", "Medium Italic";
    font-weight: bold;
}

.banner{
    background-image: url(image/banner.png);
    background-position: center;
    padding:308px 0px;
}
.bannerText{
    width: 304px;
    color: white;
    margin: 0 auto;
    font-style: italic;
}
.bannerText h1{
    font-size: 80px;
    line-height: 106px;
   
    font-weight: bold;
    margin-bottom: 32px;
}
.bannerText h1 span{
    font-size: 24px;
    line-height: 42px;
}
.bannerText p{
    margin-bottom: 40px;
    font-size:24px;
    line-height: 36px;

}
.bannerText ul img{
    width: 60px;
    height: 60px;
}
.bannerText ul{
    display: flex;
}
.bannerText ul li{
    margin-right: 16px;
}

/*各區塊共用*/

.black{ 
    background-color: #000;
    color:white;
}

.about, .brand ,.works, .contact{
    text-align: center;
    font-style: italic;
}
h2{
    font-size: 64px;
    line-height: 84px;
    font-weight: bold;
}
h3{
    font-size:24px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 4px;
}
h4{
    font-size: 20px;
    line-height: 24px;
}

/*about*/
.about{
    padding:56px 0px;
}
.about img{
    width: 384px;
    height: 384px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.about p{
    font-size:24px;
    line-height: 36px;
    margin-top: 4px;
}
.about ul{
    width: 384px;
    margin:24px auto 0px auto;
    border-top: 1px solid #000;
    padding-top:14px;
}
.about ul li{
    font-size:24px;
    line-height: 42px;
    margin:14px;
}
.about ul li .icon{
    width: 22px;
    height: 22px; 
    border-radius: 50%;
    background-color: #891818;
    display: inline-block;
    margin-right: 16px;
}
/*
.about ul li:before{
    width: 22px;
    height: 22px;
    position: absolute;
    content: " ";
    border-radius: 50%;
    background-color: #891818;
    margin-left: -32px;
}
*/
/*brand*/
.brand{
    padding:56px 0px 160px 0px;
}
.brand h3{
    margin:12px auto 32px auto;
}
.brand p{
    font-style: normal;
    font-size:20px;
    line-height:30px;
}
.brand p span{
    font-style: italic;
    margin-bottom: 68px;
}
.brand .b1{
    margin: 68px auto 40px auto;
}
.brand .b2-b3 img{
    margin: 0px 12px;
}

/*work*/
.works{
    width: 1200px;
    margin: 0 auto;
    padding:56px 0 64px 0;
}
.works p{
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    margin-bottom: 56px;
}
.works p span{
    font-style:italic;
    
}
.works h4{
  font-style: normal;
  margin: 16px auto;
}
.works ul{
    display: flex;
    flex-wrap: wrap;
    margin:56px auto; 
    justify-content: space-between;
}
.works ul li{
    margin: 24px auto;
}

/*contact*/
.contact{
    padding-top: 64px;
    padding-bottom: 56px;
}
.contact p{
    font-size:24px;
    line-height: 36px;
    margin: 8px auto;
}